@font-face {
  font-family: "Futura";
font-weight: normal;
font-style: normal;

src: url("/Users/afanasyevapolina/Documents/GitHub/Diary/fonts/Futura.ttc");
src: url("/Users/afanasyevapolina/Documents/GitHub/Diary/fonts/Futura.ttc?#iefix") format("embedded-opentype"),
url("/Users/afanasyevapolina/Documents/GitHub/Diary/fonts/Futura.woff") format("woff"),
url("/Users/afanasyevapolina/Documents/GitHub/Diary/fonts/Futura.ttc") format("truetype");
}
@font-face {
  font-family: "EuropeDemi";
font-weight: normal;
font-style: normal;

src: url("/Users/afanasyevapolina/Documents/GitHub/Diary/fonts/EUR___DM.otf");
src: url("/Users/afanasyevapolina/Documents/GitHub/Diary/fonts/EUR___DM.otf?#iefix") format("embedded-opentype"),
url("/Users/afanasyevapolina/Documents/GitHub/Diary/fonts/EUR___DM.woff") format("woff"),
url("/Users/afanasyevapolina/Documents/GitHub/Diary/fonts/EUR___DM.otf") format("truetype");
}
